
.todo-list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-radius: .25em;
    border: 1px solid #cdd1d7;
    -webkit-box-shadow: 0px 0px 3px 1px #cdd1d7;
       -moz-box-shadow: 0px 0px 3px 1px #cdd1d7;
            box-shadow: 0px 0px 3px 1px #cdd1d7;
  }
  
  .todo-list-item {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
  
  .todo-list-item:nth-child(even) {
    background-color: #eff2f6;
  }
  
  .todo-list-item:nth-child(odd) {
    background-color: #ffffff;
  }
  
  .todo-list-item:first-child {
    border-top-left-radius: .25em;
    border-top-right-radius: .25em;
  }
  
  .todo-list-item:last-child {
    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em;
  }
  
  .item-lable.selected {
    color: #5ab87d;
    text-decoration: line-through;
  }
  
  .item-lable {
    color: #646464;
    font-size: 17px;
    font-weight: 500;
    padding-left: 20px;
    width: calc(100% - 50px);
    line-height: 65px;
  }
  
  .item-lable::first-letter {
    text-transform: capitalize;
  }
  
  .todo-list-item .icon-block {
    width: 25px;
    height: 25px;
  }
  
  .todo-list-item .icon-block:last-child {
    width: 18px;
    height: 20px;
  }
  