.block-clear {
    margin-top: 50px;
    text-align: center;
}

.button-clear {
    color: #b8b8b8;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.button-clear .icon-block {
    margin-right: 10px;
}

.button-clear .icon-block,
.button-clear .icon-block svg {
    width: 18px;
    height: 20px;
}